<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - AAPM SENAI</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>

    <div class="login-container">
        
        <div class="info-section">
            <div class="logos-topo">
                <img src="/assets/Logo AAPM.svg" alt="Logo AAPM" class="logo-aapm">
            </div>
            
            <div class="texto-chamada">
                <span class="sub-topo">SENAI</span>
                <h1>Acesse o site da AAPM e descubra sobre nossos produtos com praticidade e rapidez.</h1>
                <p>Compre e agende com a AAPM</p>
                <span class="sub-base">AAPM</span>
            </div>
        </div>

        <div class="form-section">
            <div class="header-senai">
                <h2>SENAI BRÁS-SP</h2>
                <p>FRANCISCO MATARAZZO - RUA CORREIA DE ANDRADE, 232<br>TÊXTIL E MODA</p>
            </div>

            <div class="login-card">
                <h3>Login</h3>
                
                <form id="loginForm">
                    <div class="input-group">
                        <input type="email" id="email" required placeholder=" ">
                        <label for="email">Email</label>
                    </div>

            

                    <div class="input-group">
                        <input type="password" id="senha" required placeholder=" ">
                        <label for="senha">Senha</label>
                    </div>

                    <button type="submit" class="btn-entrar">Entrar</button>

                    <a href="/cadastro" class="btn-cadastrar-link">Cadastrar</a>
                </form>
            </div>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>
</html>